@import '../../_variables';

header {
  background: $borderColor;
  border-bottom: 1px solid $borderColor;
  color: $textColor;
  padding: 1em 0;
  text-align: center;
  width: 100%;
  position: relative;
}
