@import '../../variables';

footer {
  background: $borderColor;
  border-top: 1px solid $borderColor;
  padding: 1em 3em;
  text-align: center;
  width: 100%;
  margin-top: auto;
  color: $textColor;
}
